1.  bikin array dengan berisi daftar 5 nilai acak lalu tampilkan nilai tersebut secara berurutan dari kecil ke besar

In [3]:
Nilai = [3, 7, 2, 5, 1, 4]
Nilai.sort()
print(Nilai)

[1, 2, 3, 4, 5, 7]

2.  bikin variable dengan nama nim, didalam nim tersebut terdapat nim lu, setiap nim dikali 3

In [25]:
nim = "20240801128"
Jumlah = [int(i) * 3 for i in nim]
print(jumlah)

<generator object <genexpr> at 0x7f5541b8acf0>

3.  buatkan array didalamnya terdapat nilai dari angka 1 -8 dan cari semua bilangan ganjil atau genap, atau yang hanya berada ditengah saja

In [11]:
array = [1, 2, 3, 4, 5, 6, 7, 8]
ganjil = [i for i in array if i % 2 !=0]
genap = [i for i in array if i % 2 == 0]
tengah = array [3:5]

print(ganjil)
print(genap)
print(tengah)

[1, 3, 5, 7]
[2, 4, 6, 8]
[4, 5]

4. buat variable first name,  midlename dan  lastname dengan isian bebas, gabungkan untuk menjadi kalimat yang pas

In [30]:
first_name = str(input("Nama depan: "))
middle_name = str(input("nama tengah: "))
last_name = str(input("Nama belakang: "))
print("Nama lengkap: ", first_name +" "+ middle_name +" "+ last_name)

Nama lengkap:  ads adsf asfs

6. buat variabel yang isinya nim lalu jumlahkan semua angkanya

In [29]:
nim = "20240801128"
Jumlah = sum([int(i) for i in nim])
print(jumlah)

<generator object <genexpr> at 0x7f5541b8acf0>

7.  Mengganti sebuah nilai pada suatu variable

In [ ]:
nilai = 100
nilai = 80
print(nilai)

80

8.  buat dua variabel lalu tampilkan hasil bandingan kedua nilainya

In [33]:
A = 15
B = 20
banding = A >= B, A <= B
print(banding)

(False, True)

9.  buat array lalu tampilkan semua valuenya beserta indexnya

In [51]:
array = ["a", 2, 'b', 4, 5]
for i, val in enumerate(array):
    print(i, val)

0 a
1 2
2 b
3 4
4 5

10.  Membuat variable dengen value yang dapat dikeluarkan masing masing

In [55]:
nilai = [1, 2, 3, 4, 5]
a, b, c, d, e = nilai
print(e)
print(a)
print(b)

5
1
2